* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid #444;
}

/* LOGO */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: 3px solid #fff;

    box-shadow: 0 0 10px #aaa, 0 0 25px #555;
}

.logo-text {
    font-size: 20px;
    color: #ccc;
}

/* NAV LINKS */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left h1 {
    font-size: 40px;
}

.left span {
    text-shadow: 0 0 10px #fff;
}

.left h2 {
    color: #aaa;
    margin-top: 10px;
}

.left p {
    margin-top: 20px;
    color: #ccc;
    max-width: 500px;
}

/* BUTTON */
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #000;
}

/* CIRCLE */
.glow-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, #444, #000);
    box-shadow: 0 0 40px #333;
}

/* SECTION */
section {
    padding: 50px;
}

p, li {
    color: #ccc;
}

/* PROJECTS */
.projects {
    display: flex;
    gap: 20px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #444;
}

.card:hover {
    box-shadow: 0 0 15px #777;
}

/* FORM */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #111;
    border: 1px solid #555;
    color: #fff;
}
